@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.pure-menu {
  text-align: center;
  &-link {
    color: #333;
  }
}
body {
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;
  font-family: 'Noto Serif', 'Open Sans', 'Source Sans Pro', sans-serif;

  header {
    position: -webkit-sticky;
    position: sticky;
    background: #f1f1f1;
    color: #efefef;
    top: 0;

    nav {
      max-width: 1024px;
      margin: 0 auto;
      font-family: "Nunito", sans-serif;

      ul {
        margin: 0 auto;
        padding: 1em;

        li {
          list-style: none;
          //display: inline-block;
          cursor: pointer;


          ul {
            border: 1px solid #efefef;

            li {
              padding: 0.5em;
              border-bottom: 0.5px solid rgba(101, 160, 216, 0.36);
              color: #efefef;
            }
          }
        }
      }
    }
  }

  main {
    padding-bottom: 2em;

    section {
      display: block;
      width: 100%;
      border: 1px solid transparent;
      padding: 1em;
      color: #4f2d12;
      font-size: 18px;
      background: #efefef;

      &:nth-of-type(odd) {
        background: #f3f0ed;
      }

      &:nth-of-type(even) {
        background: #ece9e7;
      }

      &:empty {
        padding: 0;
      }

      .content {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
      }

      .hero {
        min-height: 100vh;
      }

      h1, h2, h3 {
        //background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        text-shadow: none;
        font-family: "Nunito", sans-serif;
        font-variant-caps: all-petite-caps;
        font-weight: 400;
      }

      .participant {
        display: block;
        border-bottom: 1px solid black;
        padding-bottom: 1em;
      }
    }
  }

  footer {
    position: relative;
    width: 100%;
    bottom: 0;
    color: white;
    //background: #0476e4;
    background: #333;
    height: 150px;
    border-top: 12px solid red;

    &:before {
      content: '';
      background-image: url("../img/nenets_tile3.png");
      background-size: contain;
      height: 40px;
      width: 100%;
      display: block;
      position: absolute;
      top: -52px;
    }

    .content {
      max-width: 1024px;
      margin: 0 auto;
    }
  }
}
